<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }}</title>
    {{ $style := resources.Get "css/main.sass" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div class="header">
      <ul>
        <li>
          <a href="{{ .Site.Home.Permalink }}">Home</a>
        </li>
        {{ range where .Site.RegularPages "Type" "page" }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    </div>

    <div class="content">
      {{ block "main" . }}
      {{ end }}
    </div>

    <div class="footer">
      <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
    </div>
  </body>
</html>
